<?xml version="1.0"?>
<launch>
    <arg name="nDrones" default="3" />
    <arg name="predefined" default="true" />
    <arg name="yamlFileName" default="goals.yaml"/>
    <arg name="visualize" default="true"/>
    <arg name="traj_dir" default="$(find swarmsim_example)/launch/traj_data/"/>

    <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find swarmsim_example)/launch/custom_rosconsole.conf"/>
  
    <node name="swarmsim_example" pkg="swarmsim_example" type="swarmsim_example" output="screen">
        <param name="trajDir" value="$(arg traj_dir)"/>
        <param name="nDrones" value="$(arg nDrones)"/>
        <param name="predefined" value="$(arg predefined)"/>
        <param name="yamlFileName" value="$(arg yamlFileName)"/>
        <param name="visualize" value="$(arg visualize)"/>
    </node>

      <node name="rviz"
        pkg="rviz"
        type="rviz"
        output="screen"
        args="-d $(find swarmsim_example)/launch/simulation.rviz"
        />
  />

</launch>
