<?xml version="1.0"?>
<launch>
    <arg name="nDrones" default="2" />
    <arg name="fileLoad" default="false" />

    <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find swarmsim)/launch/custom_rosconsole.conf"/>
    <node name="swarmsim" pkg="swarmsim" type="swarmsim" output="screen">
        <param name="trajDir" value="$(find swarmsim)/launch/traj_data/"/>
        <param name="nDrones" value="$(arg nDrones)"/>
        <param name="fileLoad" value="$(arg fileLoad)"/>
    </node>

    <!-- <test test-name="test_barebones" pkg="swarmsim" type="lin_traj_nav_test11.py" time-limit="10.0"/> -->

</launch>
